{{!-- cart with payment form--}}

<div>
  <h2>Payment form:</h2>

  <section  id="num1">
    <label>Card number</label>
    <input>
  </section>

  <section>
    <label>Name on card</label>
    <input>
  </section>

  <section  id="num2">
    <div>
      <label>Expiration date</label>
      <input>
    </div>
    <div>
      <label>Security code</label>
      <input  >
     
    </div>
  </section>

  <button id="completePayment">Complete payment</button>

</form>

<script src = "/js/payment.js"></script>