{{! cart with payment form}}

<div class="container">
     <h2 class="mb-3">Payment form:</h2>

     <form>
          <div class="mb-3" id="num1">
               <label for="cardNumber" class="form-label">Card number</label>
               <input type="text" class="form-control" id="cardNumber" />
          </div>

          <div class="mb-3">
               <label for="cardName" class="form-label">Name on card</label>
               <input type="text" class="form-control" id="cardName" />
          </div>

          <div class="row" id="num2">
               <div class="col-md-6 mb-3">
                    <label for="expirationDate" class="form-label">Expiration date</label>
                    <input type="text" class="form-control" id="expirationDate" />
               </div>
               <div class="col-md-6 mb-3">
                    <label for="securityCode" class="form-label">Security code</label>
                    <input type="text" class="form-control" id="securityCode" />
               </div>
          </div>

          <button type="submit" class="btn btn-primary" id="completePayment">Complete payment</button>
     </form>

     <script src="/js/payment.js"></script>
</div>