{{! shows products owned by specific vendor and add to cart }}

<div>
  {{#each products}}
    <p>Description: {{description}}</p>
    <p>Name:  {{name}}</a> </p>
    <p>Price: {{price}} </p>
    <p>Quantity: {{stock}} </p>
    <button>add to cart</button>
  {{/each}}
</div>