<h1>DONE</h1>
<div><h2>Thank you for your purchase</h2><h2>This website is a work in progress
    and no card data is actually saved here</h2></div>

<p>Special thanks to: Rob, Tiffany, and Jacob</p>
<a href="https://github.com/lilcobby/farmersMarket-proj2">github link</a>