{{! shows vendor home page, stock , sales (redirect), add product form(hidden), update product form (hidden) }}

{{! vendor profile/ home }}
<div>
  <h1>Vendor Profile</h1>
</div>
{{! sales }}
<div>
  <h2>Sales</h2>
  <p>render our sales using handlebars syntax</p>
</div>

{{! new prod form }}
<form>
  <h3>New Product Entry</h3>
  <div>
    <label for="newProd-name"></label>
    <input class="form-input" type="text" id="newProd-name" />
  </div>
  <div>
    <label for="newProd-desciprion"></label>
    <input class="form-input" type="text" id="newProd-description" />
  </div>
  <div>
    <label for="newProd-price"></label>
    <input class="form-input" type="text" id="newProd-price" />
  </div>
  <div>
    <label for="newProd-image"></label>
    <input class="form-input" type="text" id="newProd-image" />
  </div>
  <div>
    <p>drop down here maybe?</p>
    <label for="newProd-category"></label>
    <input class="form-input" type="text" id="newProd-category" />
  </div>
  <div>
    <button class="btn" type="submit">New Product</button>
  </div>
</form>
{{! all prod }}
<div>
  <h2>All Products</h2>
  <div>

</div>
{{! edit product likely redirect }}
<p>edit product form not super positive how to do this one</p>




