<div>
  {{#each vendors}}

    <p>Name: <a href="/products/{{id}}"> {{name}}</a> </p>
    <p>Description: {{description}}</p>
    <img
      src="{{image_URL}}"
      alt="Vendor Image"
      class="imageBorder smallProductImage"
    />
  {{/each}}
</div>